# git must not convert line endings in our reference test file
# https://github.com/ludocode/mpack/issues/64
*.debug text eol=lf

# JUCE modules are defacto CRLF
ludocode_mpack/*.h text eol=crlf
ludocode_mpack/*.cpp text eol=crlf
