# git must not convert line endings in our reference test file
# https://github.com/ludocode/mpack/issues/64
*.debug text eol=lf

# JUCE modules are defacto CRLF
bindings/juce/ludocode_mpack/*.* text eol=crlf
