
# build files
*.o
*.swp
*.gcov
/.sconsign.dblite
/mpack-test-file.mp
/mpack-test-dir/

# folders
/tags
/build
/docs

# visual studio project
*.suo
*.opensdf
*.sdf
/projects/vs/Debug/
/projects/vs/Release/

# xcode project
xcuserdata/
*.xcworkspace/
.DS_Store

# other junk
.directory

